# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Django
backend/db.sqlite3
backend/media/
backend/staticfiles/
#vision
vision
# Logs
*.log
logs/

# Environment variables
.env
.env.*
!.env.example

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
*.pid
